<!DOCTYPE html>
<html ng-app="app" ng-controller="indexCtrl" data-ng-init="init()" class="no-js" lang="pt-br">
    <head>
        <% var title= 'Find-It - ' + value; %>
        <% include partials/header.ejs %>
        <script src="/js/index.js"></script>    
        <script>
             function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#falseinput').attr('src', e.target.result);
                        console.log(e.target.result);
                        $('#base').val(e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </head>
<body>    
    <% include partials/nav.ejs %>
    <!-- <form id="uploadForm"
        enctype="multipart/form-data"
        action="/photo"
        method="post">
        <div class="file-field input-field">
            <div class="btn">
                <span>Arquivo</span>
                <input type="file" name="userPhoto" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" multiple />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
            <textarea id="base"></textarea>
            <span id="status"></span>
        </div>
        <input class="waves-effect waves-light btn" type="submit" value="Upload Image" name="submit">
    </form>
    
    
 -->
     <div class="container">
        <h2 class="text-primary-dark"><%= option %></h2>
     <!--   <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1> -->
        <div>
            <% if (items.length == 0){ %>
            <div class="valign-wrapper">
                <h5 class="center-align">Nenhum item</h5>
            </div>
            <% } else { %>
            <% items.forEach(function(item) { %>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">                        
                            <h2 class="text-primary-dark"><%= item.nomeItem %></h2>
                            <h5><%= item.dataCadastro %></h5>
                            <h5>Categoria: <%= item.nomeCategoria %></h5>
                            <h5>Status: <%= item.nomeStatus %></h5>                            
                            <h5>Descrição: <%= item.descricaoItem %></h5>
                            <li class="divider"></li>
                            <h5>Fotos:</h5>
                            <% if (item.fotosItem.length > 0){ %>
                                <div class="carousel">
                            <% for (fotoItem of item.fotosItem){ %>                                
                                <a class="carousel-item" href="#<%= fotoItem.substring(fotoItem.lastIndexOf('/') + 1, fotoItem.lastIndexOf('.')); %>">
                                    <img width="250" src="<%= fotoItem %>">
                                </a>                                                           
                            <% } %>
                            </div>
                            <% } else { %>
                            <div class="carousel-empty valign-wrapper">
                                <h5 class="right-align">Nenhuma foto cadastrada</h5>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
            <% } %>
        </div>
    </div> 
    <div class="fixed-action-btn">
        <a href="/insertItem" class="btn-floating btn-large waves-effect right waves-light teal lighten-2"><i class="material-icons">add</i></a>
    </div>
    <% include partials/modalMessage.ejs %> 
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
            
           /* $('#uploadForm').submit(function() {
                $("#status").empty().text("File is uploading...");
                $(this).ajaxSubmit({
                    error: function(xhr) {
                        status('Error: ' + xhr.status);
                    },
                    success: function(response) {
                        console.log(response)
                        $("#status").empty().text(response);
                    }
                });
                return false;
            });          */
        
    </script>
</body>
</html>